<!doctype html>
<html ng-app="Test">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>

    <script>
        angular.module('Test', ['ui.bootstrap']).controller('C', function($scope, $http, $q , $timeout){
            $scope.inputValue = '';
            $scope.loader = function() {
                var searchValue = $scope.inputValue;
                var defered = $q.defer();

                $timeout(function(){
                    defered.resolve($scope.loader2())
                }, 1000)

                return defered.promise;
            }

            $scope.loader2  = function() {
                var searchValue = $scope.inputValue;
                var ret = [];
                for (var i = 0; i<10; i++) {
                    ret.push(searchValue + ' ' + i);
                    ret.push(i + ' - ' +searchValue + ' ' + i);
                }

                return ret;
            }
        })
    </script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>

<div class='container-fluid' ng-controller="C">
    <pre>Model: {{inputValue | json}}</pre>

    <input type="text" ng-model="inputValue" typeahead="state for state in loader() | filter:$viewValue">
    <input type="text" ng-model="inputValue" typeahead="state for state in loader2()">

    <input type="text" ng-model="inputValue" my-autocomplete="loader()"/>
    <input type="text" ng-model="inputValue" my-autocomplete="loader2()"/>
</div>
</body>
</html>